[flake8]
max-line-length = 100
ignore = B028,E203,E501,E704,PIE786,SIM115,W503
select = C,E,F,W,B,B950
exclude =
    build/,
    *venv/,

application-import-names = kpconv_torch, cpp_wrappers
import-order-style = google
