[flake8]
max-line-length = 100
max-complexity = 15
ignore = E203,E501,W503
per-file-ignores=kpconv_torch/utils/visualizer.py:B023
select = C,E,F,W,B,B950
exclude =
    build/,
    *venv/,

application-import-names = kpconv_torch, cpp_wrappers
import-order-style = google
