
**/build
**/desktop.ini
/results
/test
/docker_scripts
/kernels/dispositions
core
/kpconv_torch.egg-info

# VSCode related
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Virtual environments
.venv
venv
